body {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin     : 0;

}

iframe {
  border: none;
}

h1,
h2 {
  padding   : 0;
  margin    : 0;
  width     : 100vw;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 8rem;
  color     : black;
  font-size : 6vw;
}

h2 {
  color      : rgb(78, 74, 74);
  font-size  : 5vw;
  font-weight: normal;
}

header {
  display              : flex;
  flex-direction       : column;
  background-size      : 100vw;
  background-repeat    : no-repeat;
  background-color     : rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
}

footer {
  margin: 0 0 0 1rem;
}

footer>p {
  margin : 0;
  padding: 0;
}

#notice {
  padding   : 0;
  margin    : 0;
  text-align: right;
  font-style: italic;
  opacity   : 0.7;
  font-size : 0.4rem;
}