main {
  padding: 10%
}



/* zenn-cli */
:root {
  --c-primary: #0f93ff;
  --c-primary-darker: #0087f5;
  --c-primary-bg: #e3f2ff;
  --c-body: rgba(0, 0, 0, .82);
  --c-gray: #606971;
  --c-gray-border: #cfdce6;
  --c-gray-bg: #edf2f7;
  --c-error: #fa5d5d;
  --c-error-bg: #fff0f0;
  --font-base: -apple-system, "BlinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif, "Segoe UI Emoji";
  --font-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace, "Segoe UI Emoji"
}

html {
  box-sizing: border-box;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5
}

*,*:before,*:after {
  box-sizing: inherit
}

body {
  margin: 0;
  color: var(--c-body);
  word-break: break-word;
  word-wrap: break-word;
  font-family: var(--font-base)
}

img {
  max-width: 100%
}

p,blockquote,dl,dd,dt,section {
  margin: 0
}

a {
  text-decoration: none;
  color: inherit
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: 700;
  line-height: 1.4;
  outline: 0
}

ul,ol {
  margin: 0;
  padding: 0;
  list-style: none
}

li {
  margin: 0;
  padding: 0
}

hr {
  border: none
}

button {
  border: none;
  cursor: pointer;
  appearance: none;
  background: transparent;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  transition: .25s;
  padding: 0;
  margin: 0;
  line-height: 1.3;
  color: var(--c-body)
}

code {
  font-family: var(--font-code)
}

.znc {
  line-height: 1.9
}

.znc>*:first-child {
  margin-top: 0
}

.znc i,.znc cite,.znc em {
  font-style: italic
}

.znc strong {
  font-weight: 700
}

.znc a {
  color: #0f83fd
}

.znc a:hover {
  text-decoration: underline
}

.znc p+p {
  margin-top: 1.5em
}

.znc ul,.znc ol {
  margin: 1.4rem 0;
  line-height: 1.7
}

.znc ul>li,.znc ol>li {
  margin: .4rem 0
}

.znc ul ul,.znc ul ol,.znc ol ul,.znc ol ol {
  margin: .2em 0
}

.znc ul p,.znc ol p {
  margin: 0
}

.znc ul {
  padding-left: 1.8em
}

.znc ul>li {
  list-style: disc
}

.znc ul>li::marker {
  font-size: 1.1em;
  color: #5e6478
}

.znc ol {
  padding-left: 1.7em
}

.znc ol>li {
  list-style: decimal;
  padding-left: .2em
}

.znc ol>li::marker {
  color: #535872;
  font-weight: 600;
  letter-spacing: -.05em
}

.znc .contains-task-list li {
  list-style: none!important
}

.znc .task-list-item-checkbox {
  margin-left: -1.5em;
  font-size: 1em;
  pointer-events: none
}

.znc h1+p,.znc h2+p,.znc h3+p,.znc h4+p,.znc h5+p,.znc h6+p {
  margin-top: .3em
}

.znc h1,.znc h2 {
  margin-top: 2.3em;
  margin-bottom: .5em
}

.znc h3,.znc h4,.znc h5,.znc h6 {
  margin-top: 2.25em;
  margin-bottom: .5em
}

.znc h1 {
  padding-bottom: .2em;
  margin-bottom: 1.1rem;
  font-size: 1.7em;
  position: relative;
  border-bottom: solid 1px rgba(92,147,187,.17)
}

.znc h2 {
  font-size: 1.5em
}

.znc h3 {
  font-size: 1.3em
}

.znc h4 {
  font-size: 1.1em
}

.znc h5 {
  font-size: 1em
}

.znc h6 {
  font-size: .9em
}

@media screen and (max-width: 576px) {
  .znc h1 {
      font-size:1.6em
  }

  .znc h2 {
      font-size: 1.4em
  }

  .znc h3 {
      font-size: 1.2em
  }

  .znc h4 {
      font-size: 1.1em
  }

  .znc h5 {
      font-size: 1em
  }

  .znc h6 {
      font-size: .85em
  }
}

.znc hr {
  border-top: 2px solid rgba(92,147,187,.17);
  margin: 2.5rem 0
}

.znc blockquote {
  font-size: .97em;
  margin: 1.4rem 0;
  border-left: solid 3px #9dacb7;
  padding: 2px 0 2px .7em;
  color: #505c64
}

.znc blockquote p {
  margin: 1rem 0
}

.znc blockquote>:first-child {
  margin-top: 0
}

.znc blockquote>:last-child {
  margin-bottom: 0
}

.znc blockquote.twitter-tweet {
  display: none
}

.znc table {
  margin: 1.2rem auto;
  width: auto;
  border-collapse: collapse;
  font-size: .95em;
  line-height: 1.5;
  word-break: normal;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch
}

.znc th,.znc td {
  padding: .5rem;
  border: solid 1px #cfdce6;
  background: #fff
}

.znc th {
  font-weight: 700;
  background: #edf2f7
}

.znc code {
  padding: .2em .4em;
  background: rgba(33,90,160,.07);
  font-size: .85em;
  border-radius: 4px;
  vertical-align: .08em
}

.znc code,.znc .code-block-filename {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  -webkit-font-smoothing: antialiased
}

.znc pre {
  margin: 1.3rem 0;
  background: #1a2638;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: .7em;
  box-shadow: 0 4px 6px -1px #000e1e26;
  word-break: normal;
  word-wrap: normal;
  display: flex
}

.znc pre:after {
  content: "";
  width: 8px;
  flex-shrink: 0
}

.znc pre code {
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: .9em;
  color: #fff
}

.znc pre>code {
  display: block;
  padding: 1.1rem
}

@media screen and (max-width: 576px) {
  .znc pre>code {
      padding:1rem .8rem;
      font-size: .85em
  }
}

.znc .code-block-container {
  position: relative;
  margin: 1.3rem 0
}

.znc .code-block-container pre {
  margin: 0
}

.znc .code-block-filename {
  display: table;
  max-width: 100%;
  background: #323e52;
  color: #ffffffe6;
  font-size: 12px;
  line-height: 1.3;
  border-radius: 6px 6px 0 0;
  padding: 6px 12px 20px;
  margin-bottom: -16px
}

.znc .code-block-filename-container+pre {
  border-top-left-radius: 0
}

.znc img:not(.emoji) {
  margin: 1.5rem auto;
  display: table;
  max-width: 100%;
  height: auto
}

.znc img+br {
  display: none
}

.znc img~em {
  display: block;
  margin: -1rem auto 0;
  line-height: 1.3;
  text-align: center;
  color: #77838c;
  font-size: .92em
}

.znc details {
  font-size: .95em;
  margin: 1rem 0;
  line-height: 1.7
}

.znc summary {
  cursor: pointer;
  outline: 0;
  padding: .7em .7em .7em .9em;
  border: solid 1px rgba(92,147,187,.19);
  color: var(--c-contrast);
  font-size: .9em;
  border-radius: 9px;
  box-shadow: 0 2px 4px -2px #00000026
}

.znc summary::-webkit-details-marker {
  color: #77838c
}

.znc details[open] summary {
  border-radius: 5px 5px 0 0;
  box-shadow: none;
  background: #f1f5f9;
  border-bottom: none
}

.znc .details-content {
  padding: .5em .9em;
  border: solid 1px rgba(92,147,187,.2);
  border-radius: 0 0 5px 5px
}

.znc .details-content>* {
  margin: .5em 0
}

.znc .embed-speakerdeck,.znc .embed-slideshare,.znc .embed-codepen,.znc .embed-jsfiddle,.znc .embed-youtube,.znc .embed-codesandbox,.znc .embed-stackblitz {
  margin: 1.5rem 0
}

.znc .embed-slideshare,.znc .embed-speakerdeck,.znc .embed-codepen,.znc .embed-jsfiddle,.znc .embed-youtube,.znc .embed-stackblitz {
  padding-bottom: calc(56.25% + 38px);
  position: relative;
  width: 100%;
  height: 0
}

.znc .embed-slideshare iframe,.znc .embed-speakerdeck iframe,.znc .embed-codepen iframe,.znc .embed-jsfiddle iframe,.znc .embed-youtube iframe,.znc .embed-stackblitz iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none
}

.znc .embed-slideshare iframe {
  border: 1px solid #1a2638
}

.znc .zenn-embedded iframe {
  width: 100%;
  display: block
}

.znc .zenn-embedded-link-card {
  margin: 1rem auto
}

.znc .zenn-embedded-link-card iframe {
  height: 125px
}

.znc .zenn-embedded-tweet,.znc .zenn-embedded-mermaid,.znc .zenn-embedded-github,.znc .zenn-embedded-gist {
  margin: 1.5rem auto
}

.znc embed-katex:not([display-mode="1"]) {
  display: inline-flex;
  overflow-x: auto;
  max-width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none
}

.znc embed-katex:not([display-mode="1"])::-webkit-scrollbar {
  display: none
}

.znc embed-katex[display-mode="1"] {
  display: block;
  width: 100%;
  overflow-x: auto
}

.znc pre.zenn-mermaid {
  background: transparent;
  color: #93a5b1;
  font-size: .9rem
}

.znc .embed-zenn-link {
  margin: 1rem auto
}

.znc .embed-zenn-link iframe {
  height: 125px;
  width: 100%;
  display: block
}

.znc .embed-mermaid,.znc .embed-tweet,.znc .embed-gist {
  margin: 1.5rem 0
}

.znc embed-mermaid svg {
  height: auto
}

.znc pre[class*=language-] {
  position: relative
}

.znc .token.namespace {
  opacity: .7
}

.znc .token.comment,.znc .token.prolog,.znc .token.doctype,.znc .token.cdata {
  color: #94a1b3
}

.znc .token.operator,.znc .token.boolean,.znc .token.number,.znc .token.attr-name,.znc .token.string,.znc .token.entity,.znc .token.url,.znc .language-css .token.string,.znc .style .token.string {
  color: #ffc56d
}

.znc .token.selector,.znc .token.atrule,.znc .token.attr-value,.znc .token.keyword,.znc .token.important,.znc .token.deleted {
  color: #ff8fa3
}

.znc .token.inserted {
  color: #b4ff9b
}

.znc .token.deleted:not(.prefix) {
  background: rgba(218,54,50,.2);
  color: inherit;
  display: block
}

.znc .token.prefix {
  user-select: none
}

.znc .token.inserted:not(.prefix) {
  background: rgba(0,146,27,.2);
  color: inherit;
  display: block
}

.znc .token.prefix.unchanged {
  display: none
}

.znc .token.unchanged>.token.prefix.unchanged {
  display: inline
}

.znc .token.coord {
  color: #aad4ff
}

.znc .token.regex,.znc .token.statement {
  color: #ffc56d
}

.znc .token.placeholder,.znc .token.variable {
  color: #fff
}

.znc .token.important,.znc .token.statement,.znc .token.bold {
  font-weight: 700
}

.znc .token.punctuation {
  color: #939bc1
}

.znc .token.entity {
  cursor: help
}

.znc .token.italic {
  font-style: italic
}

.znc .token.tag,.znc .token.property,.znc .token.function {
  color: #38c7ff
}

.znc .token.attr-name {
  color: #ff8fa3
}

.znc .token.attr-value,.znc .token.style,.znc .token.script,.znc .token.script .token.keyword {
  color: #ffc56d
}

.znc aside.msg {
  display: flex;
  align-items: flex-start;
  margin: 1.5rem 0;
  padding: 1.4em 1em;
  border-radius: 10px;
  background: #fff6e4;
  color: #000000a6;
  font-size: .94em;
  line-height: 1.6
}

.znc aside.msg.alert {
  background: #ffeff2
}

.znc aside.msg a {
  color: inherit;
  text-decoration: underline
}

.znc .msg-icon {
  position: relative;
  top: .05em;
  width: 1.4em;
  height: 1.4em;
  color: #ffb84c
}

.znc aside.msg.alert .msg-icon {
  color: #ff7670
}

.znc .msg-content {
  flex: 1;
  margin-left: .6em;
  min-width: 0
}

.znc .msg-content>* {
  margin: .7rem 0
}

.znc .msg-content>*:first-child,.znc .msg-content>*:last-child {
  margin: 0
}

.znc .footnotes {
  margin-top: 3rem;
  color: #77838c;
  font-size: .9em
}

.znc .footnotes li::marker {
  color: #77838c
}

.znc .footnotes-title {
  padding-bottom: 3px;
  border-bottom: solid 1px #cfdce6;
  font-weight: 700;
  font-size: 15px
}

.znc .footnotes-list {
  margin: 13px 0 0
}

.znc .footnotes-twemoji {
  border: none;
  margin: 0 7px 0 0;
  vertical-align: -3px
}