:root {
  --desktop-font-size: 16px;
  --mobile-font-size: 22px;
}

a {
  color: #3740ff;
}

a:hover {
  color: #3740ff;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-weight: 500;
  margin: 10px 20px;
}

button {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #444;
  cursor: pointer;
  display: block;
  font-size: 22px; /* fallback */
  font-size: var(--mobile-font-size);
  font-weight: 500;
  margin: 3px 0 0 0;
  padding: 10px;
}

button:hover {
  background-color: #ccc;
  color: black;
}

div#code {
  position: relative;
}

h1 {
  font: 400 36px / 1.33333 "Google Sans", sans-serif;
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
}

h2 {
  border-top: 1px solid #ccc;
  font: 400 24px / 1.33333 "Google Sans", sans-serif;
  margin: 50px 0 30px 0;
  padding: 50px 0 0 0;
}

li {
  font-size: 18px;
  line-height: 1.4em;
  margin: 0 0 1em -20px;
}

main {
  margin: 0 auto;
  max-width: 750px;
}

p {
  font: 400 18px / 1.77778 Segoe UI, system-ui, -apple-system, sans-serif;
}

pre {
  background-color: #fafafa;
  color: #666;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  min-height: 30px;
  overflow: scroll;
  padding: 15px 50px 10px 10px;

  /*  text-overflow: ellipsis; */
}

section {
  margin: 0 0 40px 0;
}

div#code svg {
  background-color: #fafafa;
  fill: #666;
  cursor: pointer;
  padding: 0 15px 15px 15px;
  position: absolute;
  right: 0;
  top: 20px;
}

div#code svg:hover {
  fill: black;
}

@media (min-width: 450px) {
  body {
    margin: 20px 50px;
  }

  button {
    font-size: 14px; /* fallback */
    font-size: var(--desktop-font-size);
  }

  h1 {
    margin: 0 0 40px 0;
  }

  p {
    color: #444;
    line-height: 1.4em;
    font-size: 18px;
    font-weight: 400;
  }
}

@media (min-width: 800px) {
  body {
    margin: 50px;
  }
}
