pre {
  /*
   * Thin:    100
   * Light:   300
   * Regular: 400
   * Medium:  500
   * Bold:    700
   */
  font-family: 'Roboto Mono', monospace;
  border:      1px solid black;
  background-color: rgb(230, 230, 230);
  padding:     1em;
  color:       #555;
  font-weight: 300;
}

pre.html {
  color: #444;
}

.html > .Preproc {
  font-weight: 500;
  font-style:  italic;
}

.http > .Attribute,
.http > .Function,
.html > .Tag,
.css  > .Tag,
.js   > .Declaration,
.js   > .Keyword,
.js   > .Function {
  color:       #333;
  font-weight: 700;
}


.js > .Operator,
.js > .Integer {
  color:       #333;
  font-weight: 400;
}

.http > .Namespace,
.css > .Label,
.js  > .Class,
.js  > .Other,
.js  > .Name,
.js  > .Constant {
  color:       #666;
  font-weight: 700;
}

.js > .Punctuation {
}

.html > .String,
.js   > .Multiline,
.js   > .Heredoc,
.js   > .Single,
.js   > .Double {
  font-style:  italic;
  color:       #888;
  font-weight: 400;
}
