:root {
  /** font-weight **/
  --thin:    100;
  --light:   300;
  --regular: 400;
  --medium:  500;
  --bold:    700;

  /** font-color **/
  --black:  rgb(0, 0, 0);
  --dark:   rgb(50, 50, 50);
  --gray:   rgb(100, 100, 100);
  --silver: rgb(150, 150, 150);
  --light:  rgb(230, 230, 230); /** background **/
  --white:  rgb(255, 255, 255); /* white */
}

pre {
  font-family: 'Roboto Mono', monospace;
  padding:     1em;
  border:      1px solid black;

  background-color: var(--white);
  font-weight:      var(--thin);
  color:            var(--silver);
}

/*
pre.html {
  color: #444;
}
*/


/* HTML の doctype */
.Preproc {
  font-style:  italic;
  font-weight: var(--medium);
}

/* bold-black */
.Name {
  color:       var(--gray);
  font-weight: var(--bold);
}

/* bold-gray */
.Keyword {
  color:       var(--black);
  font-weight: var(--bold);
}

/* 数値と演算子 */
.Number,
.Operator {
  color:       var(--dark);
  font-weight: var(--regular);
}

/* Comment と String (含む regex) */
.Comment,
.String {
  font-style:  italic;
  color:       var(--silver);
  font-weight: var(--medium);
}
