<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
  <!--
  貴様、見ているな！！
  このサイトの技術的なまとめはこちらをどうぞ。
  https://labs.jxck.io/blog

  by Jxck
  -->
  <link rel=canonical href=https://mozaic.fm>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link rel=alternate type=application/rss+xml title=mozaic.fm href=/feeds/feed.xml>
  <link rel=author href=//jxck.io/assets/humans.txt>
  <script async src=//jxck.io/assets/js/ga.js></script>
  <script async src=/assets/js/highlight.min.js></script>
  <script src=/assets/js/mozaic.js></script>

  <!-- TODO -->
  <!-- %= meta %  -->

  <title>mozaic.fm</title>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/body.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/header.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/main.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/info.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/article.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/footer.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/mozaic.css>
</head>
<body>

<header>
  <ul>
    <li><a href=/><img class=logo alt="blog top" width=50 src=/assets/img/mozaic.svg></a>
    <li><a href=/feeds/feed.xml><img alt="rss feed" width=50 src=/assets/img/podcast.svg></a>
    <li><a href=https://itunes.apple.com/jp/podcast/mozaic.fm/id851914495><img alt="itunes" width=50 src=/assets/img/itunes.svg></a>
    <li><a href="https://twitter.com/search?f=tweets&vertical=default&q=%23mozaicfm&src=typd"><img alt="huamns.txt" width=50 src=/assets/img/twitter.svg></a>
    <li><a href=//jxck.io><img class=logo alt="jxck logo" width=50 src=/assets/img/jxck.svg></a>
  </ul>
</header>

<main>
<% episodes.each do |e| %>
  <article>
    <section>
      <h2><%= e.title %></h2>
      <%= e.description %>
    </section>
  </article>
<% end %>
</main>

<footer>
  <address class=copyright>Copyright &copy; 2016 <a href=/>mozaic.fm</a>. All Rights Reserved. Redistribute, Transcript are not allowed.</address>
</footer>
</body>
</html>
