.container {
  padding: 0;
}

.main {
  min-height: 100vh;
}

.textarea {
  width: 100%;
  height: 90vh;
  font-size: 1.4em;
}

.section {
  width: 100%;
  height: 90vh;
  line-height: 1em;
  padding: 0;
  margin: 0;
}

.p {
  line-height: 1em;
  padding: 0;
  margin: 0;
  font-size: 1.4em;
}
