.archive {
  font-size: 1.2em;
  line-height: 2em;
}

.archive ul {
  margin: 0;
}

.archive time {
  padding-right: 0.5em;
}

.archive time::after {
  content: ":";
}

.archive .tags {
  font-size: 0.8em;
  margin-left: 1em;
}
