.archive {
  font-size: 1.2rem;
  line-height: 2rem;
}

.archive ul {
  margin: 0;
}

.archive time {
  padding-right: var(--grid);
}

.archive time::after {
  content: ":";
}

.archive .tags {
  font-size: 1.0rem;
  margin-left: var(--grid);
}
