.archive {
  font-size: 1.2rem;
  line-height: 2rem;
}

.archive ul {
  margin: 0;
}

.archive time {
  padding-inline-end: var(--grid);
}

.archive time::after {
  content: ":";
}

.archive .tags {
  font-size: 1.0rem;
  padding-inline-start: var(--grid);
}

.archive .tags i {
  font-style: normal;
  padding-inline-end: calc(var(--grid)/4);
}
