article section p {
  margin-left: 0;
}

article pre {
  margin: 0;
}

article table {
  margin-left: 0;
}

article img {
  margin: 1em 0;
  border: 1px solid #ccc;
  box-sizing: content-box;
}

article ul,
article ol {
  margin-left: 0.8em;
  font-family: monospace;
  font-size: 1.2em;
}

article li {
  margin-bottom: 0.4em;
}

article ul li ul,
article ol li ol {
  margin: 0.2em 0 1.2em 1em;
  font-size: 1em;
}

article ol li ol li,
article ul li ul li {
  margin-bottom: 0;
}

article dl {
  margin: 1.4em 0 1.4em 0.8em;
}

article blockquote {
  padding: 1em;
}

article blockquote p {
  line-height: 1;
  margin: 0;
}

@supports (line-height-step: 1px) {
  article {
    --grid-rhythm: 1.5em;
    line-height: 1.5;
    line-height-step: var(--grid-rhythm);
  }

  article h1,
  article h2,
  article h3,
  article h4,
  article h5,
  article h6 {
    display: inline-block;
    width: 100%;
    line-height-step: 0;
    line-height: 1.2;
    margin-bottom: 0;
  }

  article section {
    /* grid for debug */
    /* background-size: 100% var(--grid-rhythm); */
    /* background-image: linear-gradient(to bottom, #00bcd1 1px, transparent 1px); */
  }

  article p {
    margin-top: var(--grid-rhythm);
    margin-bottom: var(--grid-rhythm);
  }

  article pre,
  article table {
    line-height-step: 0;
    line-height: normal;
  }
}
