article section p {
  margin-left: 0.8em;
}

article pre {
  margin-left: 0.8em;
}

article table {
  margin-left: 0.8em;
}

article img {
  margin: 1em 0;
  border: 1px solid #ccc;
  box-sizing: content-box;
}

article ul, article ol {
  margin-left: 0.8em;
  font-family: monospace;
  font-size: 1.2em;
}

article li {
  margin-bottom: 0.4em;
}

article ul li ul {
  margin: 0.2em 0 1.2em 1em;
  font-size: 1em;
}

article ul li ul li {
  margin-bottom: 0;
}
