@font-face {
  font-family: "NotoSansCJKjp-Jxck";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src:
    local("NotoSansCJKjp-Bold.otf"),
    local("NotoSansJP-Bold.otf"),
    url("//jxck.io/assets/font/NotoSansCJKjp-Jxck-Regular-201802.woff2") format("woff");
}

@font-face {
  font-family: "NotoSansCJKjp-Jxck";
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src:
    local("NotoSansCJKjp-Bold.otf"),
    local("NotoSansJP-Bold.otf"),
    url("//jxck.io/assets/font/NotoSansCJKjp-Jxck-Bold-201802.woff2") format("woff");
}

:root {
  --background-color: #fefefe;
  --font-color: #222;
  --header-color: #222;

  --anchor-color: RoyalBlue;
  --anchor-visited-color: Brown;

  --code-block: #efefef;
  --code-block-font: #222;

  --block-quote: #ddd;
  --table-border: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #010101;
    --font-color: #eee;

    --anchor-color: CornflowerBlue;
    --anchor-visited-color: RosyBrown;

    --code-block: #efefef;

    --table-border: #eee;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

p > code {
  font-family: monospace;
}

pre > code {
  font-family: "Consolas", "Courier New", "Menlo", Monaco, monospace;
}

iframe {
  display: block;
  max-width: 100%;
  margin: 1em 0;
}

.tags a {
  margin: 0 0.2em;
}

img {
  max-width: 100%;
  height: auto;
}

audio {
  width: 70%;
}

@media screen and (max-device-width: 480px) {
  audio {
    width: 100%;
  }
}
