/* Light Mode Theme */
:root {
  --background-color: #fefefe;
  --font-color: #222;
  --header-color: #222;

  --anchor-color: RoyalBlue;
  --anchor-visited-color: Brown;

  --code-block: #161b22;
  --code-block-font: #ffffff;

  --code-inline: #f1f5f9;
  --code-inline-font: #292929;

  --block-quote: #ddd;
  --table-border: #222;

  --regular-font: "Noto Sans", "Noto Sans CJK JP", "Hiragino Sans", 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
  --mono-font: Menlo, Consolas, Liberation, Mono, Courier;
  --code-font: Menlo, Consolas, Liberation, Mono, Courier;

  --icon-size: 30px;

  --width: 80vw;
  --max-width: 1024px;

  --grid: 1rem;

  --radius: 4px;
}


/* Mobile Theme */
@media screen and (max-device-width: 960px) {
  :root {
    --width: 94vw;
  }

  audio {
    width: 100%;
  }
}

/* Dark Mode Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --header-color: #111;
    --background-color: #222;
    --font-color: #eee;

    --anchor-color: CornflowerBlue;
    --anchor-visited-color: RosyBrown;

    --table-border: #eee;
  }

  article img {
    filter: grayscale(50%);
  }
  article img[src*=svg] {
    filter: invert(100%) grayscale(50%);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--regular-font);
  background-color: var(--background-color);
  color: var(--font-color);
  font-feature-settings: "palt";
  margin: 0;
  padding: 0;
}

code {
  font-family: var(--mono-font);
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  margin: 0;
  padding: 0;
}

iframe {
  display: block;
  max-width: 100%;
  margin-block-start:  var(--grid);
  margin-block-end:    var(--grid);
  margin-inline-start: 0;
  margin-inline-end:   0;
}
