dialog {
  width: var(--width);
  padding: 0;
  font-family: var(--mono-font);
  border-radius: 8px;
  border: 2px solid rgba(223,225,229,0);
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

dialog form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

dialog fieldset {
  border: none;
}

dialog legend,
dialog label {
  height: 100%;
  padding: 8px 4px;
  text-align: center;
  color: #333;
}

dialog input[type=search] {
  height: 100%;
  padding: 8px 4px;
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 1px #ccc;
}

dialog button {
  height: 100%;
  padding: 8px 4px;
  border-radius: 4px;
  border: solid 1px #ccc;
}
