footer {
  padding: var(--grid);
}

footer strong,
footer .copyright {
  width: var(--width);
  margin: 0 auto;
  font-style: italic;
}

/* AdSense */
footer ins {
  display: block;
  width: var(--width);
  margin: 0 auto;
}
