header {
  box-sizing: border-box;
  background-color: #222;
  margin: 0;
  padding: 0.4em;
}

header div {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
}

header a.logo {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 1em 0 0;
  padding: 0;
  border: 1px solid #ccc;
}

header a > img {
  display: block;
  width: 31px;
  height: 31px;
  margin: 0;
  padding: 0;
}

header a.path {
  display: block;
  padding: 0.4em;
  color: gray;
  flex-grow: 1;
}

header a.path:hover {
  color: white;
}
