/* https://jxck.io */
:root {
  --box-width: 65%;
  --align: left;
  --title-font-size: 2rem;
  --item-width: 200px;
  --justify-content: space-between;
  --item-gap: 10vh;
}

/* Mobile Theme */
@media screen and (max-device-width: 960px) {
  :root {
    --box-width: 100%;
    --align: center;
    --title-font-size: 1.4rem;
    --item-width: 140px;
    --justify-content: space-around;
    --item-gap: 4vh;
  }
}

body {
  background-color: #fefefe;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  width: var(--box-width);
  margin: 0 auto;
}

header, footer {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  width: 100%;
  margin: 4vh 0;
  padding: 0;
  font-size: var(--title-font-size);
  text-align: var(--align);
}

figure {
  padding: 0;
  margin: 0;
}

figure > a {
  display: block;
}

img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: black;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: var(--justify-content);
  align-content: space-around;
}

section {
  display: block;
  width: var(--item-width);
  box-sizing: border-box;
  margin-bottom: var(--item-gap);
}
