dl.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

dl.info div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

dl.info dt::after {
  content: ":";
  padding-inline-end: calc(var(--grid)/2);
}

dl.info dd {
  margin: 0 var(--grid) 0 0;
}

dl.info dd i {
  font-style: normal;
  padding-inline-end: calc(var(--grid)/3);
}

details.info > summary {
}

details.info ul {
  margin-block-start: 0;
  margin-inline-start: var(--grid);
}

dl.info dt.tags + dd ul {
  display: flex;
  margin: 0;
  padding: 0;
}

dl.info dt.tags + dd li:before {
  content: none;
}

dl.info dt.tags + dd li:first-child:before{
  content: "[ ";
}

dl.info dt.tags + dd li:after {
  content: ",";
  padding-inline-end: 0.5rem;
}

dl.info dt.tags + dd li:last-child:after {
  content: " ]";
}
