dl.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

dl.info div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

dl.info dt::after {
  content: ":";
  margin-right: calc(var(--grid)/2);
}

dl.info dd {
  margin: 0 var(--grid) 0 0;
}
