main {
  display: block;
  width: 80%;
  margin: 1em auto;
}

@media screen and (max-device-width: 480px) {
  main {
    width: 94%;
  }
}

a {
  word-wrap: break-word;
  text-decoration: none;
}

a {
  color: RoyalBlue;
}

a:visited {
  color: Brown;
}

ol, ul {
  list-style: none;
  padding-left: 0;
}

li {
  word-break: break-all;
  word-wrap: break-word;
}

ul, ol, dl {
  margin: 1.4em 0;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

blockquote {
  display: block;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 1em;
  margin: 0;
}

code {
  border: 1px solid #ddd;
  background-color: #efefef;
  border-radius: 4px;
  padding: 0.1em;
  margin: 1.4em 0;
}
