main {
  display: block;
  width: var(--width);
  margin: 1em auto;
}

@media screen and (max-device-width: 800) {
  main {
    width: 94vw;
  }
}

a {
  word-wrap: break-word;
  text-decoration: none;
  color: var(--anchor-color);
}

a:visited {
  color: var(--anchor-visited-color);
}

ol,
ul {
  list-style: none;
  padding-left: 0;
}

li {
  word-break: break-all;
  word-wrap: break-word;
}

ul,
ol,
dl {
  margin: 1.4em 0;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  margin-left: 1.2em;
}
