h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: var(--font-color);
}

h1 > a:visited,
h2 > a:visited,
h3 > a:visited,
h4 > a:visited,
h5 > a:visited,
h6 > a:visited {
  color: var(--font-color);
}

h1 > a::before {
  content: "# ";
}

h2 > a::before {
  content: "## ";
}

h3 > a::before {
  content: "### ";
}

h4 > a::before {
  content: "#### ";
}

h1 > a:hover::before,
h2 > a:hover::before,
h3 > a:hover::before,
h4 > a:hover::before,
h5 > a:hover::before,
h6 > a:hover::before {
  color: var(--anchor-visited-color);
}

em {
  font-weight: bold;
  font-style: normal;
}

em::before,
em::after {
  content: "*";
}

strong {
  color: red;
}

strong::before,
strong::after {
  content: "**";
}

ul li::before {
  content: "- ";
}

ol {
  counter-reset: list;
}

ol li::before {
  counter-increment: list;
  content: counter(list) ". ";
}

dl dt::after {
  content: ":";
}

blockquote {
  display: block;
  border: solid 1px var(--block-quote);
  border-radius: var(--radius);
  padding: 1rem;
  margin: 0;
}

blockquote p::before {
  content: "> ";
}

code {
  background-color: var(--code-block);
  color: var(--code-block-font);
  border-radius: var(--radius);
  padding: 0 4px;
}

code::before,
code::after {
  content: "`";
}
