h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: var(--font-color);
    &:visited {
      color: var(--font-color);
    }
    &:hover::before {
      color: var(--anchor-visited-color);
    }
  }
}

h1 {
  > a::before {
    content: "# " / "";
  }
}

h2 {
  > a::before {
    content: "## " / "";
  }
}

h3 {
  > a::before {
    content: "### " / "";
  }
}

h4 {
  > a::before {
    content: "#### " / "";
  }
}

em {
  font-weight: bold;
  font-style: normal;
  &::before,
  &::after {
    content: "*" / "";
  }
}

strong {
  color: var(--strong);
  &::before,
  &::after {
    content: "**" / "";
  }
}

ul {
  li::before {
    content: "- " / "";
  }
}

ol {
  counter-reset: list;
  li::before {
    counter-increment: list;
    content: counter(list) ". ";
  }
}

dl {
  dt::after {
    content: ":" / "";
  }
}

blockquote {
  display: block;
  border: solid 0.4px var(--block-quote);
  border-radius: var(--radius);
  padding: var(--grid);
  margin: 0;
  p::before {
    content: "> " / "";
  }
}

code {
  background-color: var(--code-inline);
  color: var(--code-inline-font);
  border-radius: var(--radius);
  padding: 0 4px;
  &::before,
  &::after {
    content: "`" / "";
  }
}
