body {
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 1.1em;
  background-color: #222;
}

header {
  background-color: #333;
  border-bottom: 1px solid #fff;
}

header ul li {
  width: 50px;
  height: 50px;
}

header ul li a {
  width: 50px;
  height: 50px;
}

footer {
  background-color: #333;
  border-top: 1px solid #fff;
  color: white;
}

article {
  padding: 0 1em;
  background-color: #fff;
  border: 4px solid #000;
  border-radius: 8px;
}

article ul {
  font-family: inherit;
  font-size: 1em;
}

article li {
  margin: 0.2em 0;
}

article ul > li > ul {
  margin: 0.2em 0 0.6em 1em;
}

nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.7em;
}

nav > span {
  color: #fff;
}
