body {
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 1.1em;
}

header {
  background-color: #000;
}

footer {
  background-color: #333;
  border-top: 1px solid #fff;
  color: white;
}

article {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

article h1 {
  margin: 0;
  padding: 0.4em 0.6em;
  background-color: #333;
  border-radius: 4px 4px 0 0;
  color: white;
  font-weight: normal;
}

article section {
  padding: 0 1em;
}

article ul {
  font-family: inherit;
  font-size: 1em;
}

article li {
  margin: 0.2em 0;
}

article ul > li > ul {
  margin: 0.2em 0 0.6em 1em;
}

nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.7em;
}

nav > span {
  color: #fff;
}
