:root {
  --font-color: #111;
  --background-color: #fff;
  --header-color: #000;
  --heading-font-color: #fff;
  --heading-back-color: #333;
  --border-color: #000;
  --player-color: #333;

  --ui-back: #888;
  --ui-front: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #eee;
    --background-color: #333;
    --header-color: #000;
    --heading-font-color: #fff;
    --heading-back-color: #111;
    --border-color: #fff;
    --player-color: #030303;

    --ui-back: #888;
    --ui-front: #fff;
  }
}

body {
  font-size: 1.1em;
}

header,
header button {
  background-color: var(--header-color);
}

main {
  min-height: 100vh;
}

footer {
  border-block-start: 1px solid #fff;
  color: var(--heading-font-color);
  background-color: var(--heading-back-color);
  padding: calc(var(--grid) / 2);
}

footer small,
footer strong {
  font-size: 0.8em;
}

main > ol > li {
  margin: 0;
  padding: 0;
}

main > ol > li {
  margin-block-start:  1em;
  margin-block-end:    1em;
  margin-inline-start: 0;
  margin-inline-end:   0;
  border: 1px solid #ccc;
  border-radius: var(--radius);
  background-color: var(--background-color);
}

main > ol > li h2 {
  margin: 0;
  padding: 0.4em 0.6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /** TODO: fix when supported */
  border-top-left-radius:  calc(var(--radius) - 1px);
  /** TODO: fix when supported */
  border-top-right-radius: calc(var(--radius) - 1px);
  font-weight: normal;
  font-size: 1em;
  color: var(--font-color);
  background-color: var(--heading-back-color);
}

main > ol > li ul {
  padding: 0 2em;
}

main > ol > li ul li {
  list-style-type: disc;
}

main .info {
  margin-block-start:  1em;
  margin-block-end:    0.5em;
  margin-inline-start: 1em;
  margin-inline-end:   0;
}

main dl.info dd {
  margin-block-start:  0;
  margin-block-end:    0;
  margin-inline-start: 0.4rem;
  margin-inline-end:   2rem;
}

h1 a,
h1 a:visited,
h1 a:hover {
  display: block;
  color: var(--heading-font-color);
}

h2 a,
h2 a:visited,
h2 a:hover {
  display: block;
  color: var(--font-color);
}

main > ol > li > h2 > a,
main > ol > li > h2 > a:visited,
main > ol > li > h2 > a:hover {
  color: var(--heading-font-color);
}

main > ol li p {
  margin: 1em;
}

article {
  border: 1px solid #ccc;
  border-radius: var(--radius);
  background-color: var(--background-color);
}

article h1 {
  margin: 0;
  padding: 0.4em 0.6em;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /** TODO: fix when supported */
  border-top-left-radius:  calc(var(--radius) - 1px);
  /** TODO: fix when supported */
  border-top-right-radius: calc(var(--radius) - 1px);
  font-weight: normal;
  color: var(--font-color);
  background-color: var(--heading-back-color);
}

article em {
  font-style: normal;
  color: deeppink;
}

article code {
  background-color: var(--code-inline);
  color: var(--code-inline-font);
}

article section {
  padding: 0 1em;
}

article ul,
article ol {
  font-family: inherit;
  font-size: 1em;
}

article ul {
  list-style-type: disc;
}
article ol {
  list-style-type: decimal;
}

article img.download {
  margin: 0;
  border: none;
  background-color: unset;
}

nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.disabled {
  display: none;
}

/* mozaic-player */
mozaic-player {
  display: block;
  background-color: var(--player-color);
  position: sticky;
  bottom: 0;
}

@media screen and (max-device-width: 800px) {
  article section {
    padding: var(--grid);
  }

  article li {
    margin: 0;
  }

  header {
    position: unset;
  }

  main {
    width: 100%;
  }

  nav {
    font-size: 0.7em;
  }

  audio {
    width: 100%;
  }
}

/* background-fetch */
background-fetch  {
  display: block;
  width: 1.5em;
  height: 1.5em;
}
background-fetch::part(arrow) {
  fill: var(--ui-back);
}
background-fetch::part(arrow done) {
  fill: var(--ui-front);
}
background-fetch::part(base) {
  stroke: var(--ui-back);
  fill: transparent;
}
background-fetch::part(progress) {
  stroke: var(--ui-front);
  fill:transparent;
}

/* portal preview */
portal#preview {
  display:  none;
  position: fixed;
  bottom:   10px;
  right:    10px;
  width:    100%;
  height:   100%;
  border:   solid 1px var(--border-color);
  transform:        scale(0.3);
  transition:       transform 0.3s;
  transform-origin: right bottom;
  background-image:    url("/assets/img/portal-preview.png");
  background-color:    #fff;
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: center;
}
portal#preview:hover {
  transform: scale(0.8);
}
portal#preview.activate {
  bottom:     0px;
  right:      0px;
  transform:  scale(1.0);
}
