:root {
  --font-color: black;
  --background-color: white;
  --header-color: black;
  --heading-font-color: white;
  --heading-back-color: #333;
  --border-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: white;
    --background-color: black;
    --header-color: #333;
    --heading-font-color: white;
    --heading-back-color: #333;
    --border-color: white;
  }
}

/* normal regular */
@font-face {
  font-family: "NotoSansCJKjp-Jxck";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("NotoSansCJKjp-Bold.otf"),
    local("NotoSansJP-Bold.otf"),
    url("https://jxck.io/assets/font/NotoSansCJKjp-Jxck-Regular-201906.woff2") format("woff2");
}
/* normal bold */
@font-face {
  font-family: "NotoSansCJKjp-Jxck";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("NotoSansCJKjp-Bold.otf"),
    local("NotoSansJP-Bold.otf"),
    url("https://jxck.io/assets/font/NotoSansCJKjp-Jxck-Bold-201906.woff2") format("woff2");
}

body {
  font-size: 1.1em;
}

header {
  background-color: var(--header-color);
}

footer {
  border-top: 1px solid #fff;
  line-height: 2em;
  color: var(--heading-font-color);
  background-color: var(--heading-back-color);
}

main > ol > li {
  margin: 0;
  padding: 0;
}

main > ol > li {
  margin: 1em 0;
  border: 1px solid #ccc;
  border-radius: var(--radius);
  background-color: var(--background-color);
}

main > ol > li h2 {
  margin: 0;
  padding: 0.4em 0.6em;
  border-top-left-radius:  calc(var(--radius) - 1px);
  border-top-right-radius: calc(var(--radius) - 1px);
  font-weight: normal;
  color: var(--font-color);
  background-color: var(--heading-back-color);
}

main > ol > li ul {
  padding: 0 2em;
}

main > ol > li ul li {
  list-style-type: disc;
}

main .info {
  margin: 1em 0 0.5em 1em;
}

main dl.info dd {
  margin: 0 2rem 0 0.4rem;
}

h1 a,
h2 a {
  display: block;
  color: var(--heading-font-color);
}

h1 a:visited,
h2 a:visited {
  color: var(--heading-font-color);
}

h1 a:hover,
h2 a:hover {
  color: royalblue;
}

main > ol li p {
  margin: 1em;
}

article {
  border: 1px solid #ccc;
  border-radius: var(--radius);
  background-color: var(--background-color);
}

article h1 {
  margin: 0;
  padding: 0.4em 0.6em;
  border-top-left-radius:  calc(var(--radius) - 1px);
  border-top-right-radius: calc(var(--radius) - 1px);
  font-weight: normal;
  color: var(--font-color);
  background-color: var(--heading-back-color);
}

article em {
  font-style: normal;
  color: deeppink;
}

article code {
  background-color: var(--code-block);
  color: var(--code-block-font);
}

article section {
  padding: 0 2em;
}

article ul,
article ol {
  margin: 1em;
  font-family: inherit;
  font-size: 1em;
}

article ul {
  list-style-type: disc;
}
article ol {
  list-style-type: decimal;
}

article li {
  margin: var(--grid) 0 var(--grid) calc(var(--grid)*2);
}

article ul > li > ul,
article ol > li > ol {
  margin: 0.2em 0 0.6em 1em;
}

nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

#share {
  display: none;
}


/* mozaic-player */
@font-face {
  font-family: "FontAwesome5Free";
  font-style: normal;
  font-weight: 900;
  src: url(https://use.fontawesome.com/releases/v5.9.0/webfonts/fa-solid-900.ttf) format("truetype");
}

mozaic-player {
  height: 60px;
  display: block;
  margin: 0 auto;
  padding: 1em;
  border-radius: 1em;
  color: var(--font-color);
  background-color: var(--heading-back-color);
}

@media screen and (max-device-width: 800px) {
  article section {
    padding: var(--grid);
  }

  main {
    width: 100%;
  }

  nav {
    font-size: 0.7em;
  }

  audio {
    width: 100%;
  }

  mozaic-player {
    margin: 0 auto;
    display: block;

    background-color: initial;
    padding: 0;
    border-radius: 0;
  }
}

portal#preview {
  display:  none;
  position: fixed;
  bottom:   10px;
  right:    10px;
  width:    100%;
  height:   100%;
  border:   solid 1px var(--border-color);
  transform:        scale(0.3);
  transition:       transform 0.3s;
  transform-origin: right bottom;
  background-image:    url("/assets/img/portal-preview.png");
  background-color:    white;
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: center;
}
portal#preview:hover {
  transform: scale(0.8);
}
portal#preview.activate {
  bottom:     0px;
  right:      0px;
  transform:  scale(1.0);
}
