pre {
  word-break: break-all;
  word-wrap: break-word;
  margin: 1.4em 0 0 0;
  border-radius: 4px;
}

pre::before {
  content: "```" attr(class) "\A";
}

pre::after {
  z-index: -1;
  position: relative;
  top: -1em;
  content: "\A```";
}

pre > code {
  overflow: auto;
  display: block;
  padding: 0.6em;
  margin: 0;
  border: none;
}

pre > code::before,
pre > code::after {
  content: none;
}

.hljs-keyword {
  color: #a71d5d;
}

.hljs-title {
  color: #795da3;
}

.hljs-string {
  color: #183691;
}

.hljs-number {
  color: #0086b3;
}

.hljs-built_in {
  color: #0086b3;
}

.hljs-literal {
  color: #0086b3;
}

.hljs-regexp {
  color: #183691;
}

.hljs-comment {
  color: #4f80e5;
}

.hljs-tag {
  color: #a71d5d;
}

.hljs-name {
  color: #222;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-attribute {
  font-weight: bold;
}

.hljs-meta {
  color: #4f80e5;
}

.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-pseudo {
  color: #6f42c1;
}

.hljs-selector-tag {
  color: #22863a;
}

.hljs-subst {
  font-weight: bold;
}

/**.hljs,**/
.hljs-meta-keyword,
.hljs-doctag,
.hljs-bullet,
.hljs-code,
.hljs-addition,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-type,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion,
.hljs-section,
.hljs-meta-string,
.hljs-emphasis {
  /** if you find element applyed this style, please tell me https://github.com/jxck/jxck.io/issues **/
  font-size: 100em;
}
