pre {
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
  font-size: 1.2em;
  margin: 2em 0;
  border-radius: 4px;
}

pre::before {
  content: "```" attr(class) "\A";
}

pre::after {
  position: relative;
  top: -1em;
  content:"\A```";
}

pre > code {
  display: block;
  padding: 0.6em;
  margin: 0;
  border: none;
  background-color: #efefef;
}

pre > code::before,
pre > code::after {
  content: none;
}

.hljs-keyword {
  color: #a71d5d;
}

.hljs-title {
  color: #795da3;
}

.hljs-string {
  color: #183691;
}

.hljs-number {
  color: #0086b3;
}

.hljs-built_in {
  color: #0086b3;
}

.hljs-literal {
  color: #0086b3;
}

.hljs-regexp {
  color: #183691;
}

.hljs-comment {
  color: #4f80e5;
}

.hljs-tag {
  color: #a71d5d;
}

.hljs-name {
  color: #222;
}

.hljs-strong {
  font-weight: bold;
}

.hljs,
.hljs-subst ,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name ,
.hljs-bullet,
.hljs-code,
.hljs-addition ,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-type,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion,
.hljs-section,
.hljs-meta,
.hljs-meta-string,
.hljs-emphasis {
}
