pre {
  margin-block-start:  var(--grid);
  margin-block-end:    var(--grid);
  margin-inline-start: 0;
  margin-inline-end:   0;
  border-radius: var(--radius);
}

pre code {
  background-color: var(--code-block);
  color: var(--code-block-font);
}

pre::before {
  font-family: var(--code-font);
  content: "```" attr(data-code) "\A";
  font-size: 0.8em;
}

pre::after {
  font-family: var(--code-font);
  z-index: -1;
  position: relative;
  top: -1em;
  content: "\A```";
  font-size: 0.8em;
}

pre > code {
  font-family: var(--code-font);
  overflow: auto;
  display: block;
  padding: 0.5rem;
  margin: 0;
}

pre > code::before,
pre > code::after {
  content: none;
}


/** Prism.js Syntax Highlight **/
:root {
  --code-yellow: #ffe557;
  --code-aqua:   #03b5f1;
  --code-blue:   #76acff;
  --code-gray:   #96969c;
  --code-green:  #1cd24d;
  --code-orange: #ff8b24;
  --code-pink:   #ff61bf;
}

/** style **/
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/** color **/
.token.command,
.token.parameter,
.token.operator,
.token.punctuation,
.token.output {
  color: var(--code-block-font);
}

.token.attr-name,
.token.selector,
.token.shell-symbol {
  color: var(--code-blue);
}

.token.delimiter.tag,
.token.variable {
  color: var(--code-yellow);
}

.token.tag,
.token.function {
  color: var(--code-green);
}

.token.key,
.token.attr-value,
.token.atom,
.token.property,
.token.keyword {
  color: var(--code-pink);
}

.token.header-name.keyword,
.token.string,
.token.regex {
  color: var(--code-blue);
}

.token.interpolation,
.token.constant,
.token.class-name {
  color: var(--code-orange);
}

.token.response-status,
.token.boolean,
.token.number {
  color: var(--code-aqua);
}

.token.rule,
.token.builtin {
  color: var(--code-green);
}

.token.prolog,
.token.doctype,
.token.shebang,
.token.comment {
  color: var(--code-gray);
}

.token.request-line {
  color: var(--code-aqua);
}


/** language **/
.token.bash.language-bash,
.token.bash.language-bash > .token.function {
  color: var(--code-block-font);
}
