.search {
  font-size: 1.2rem;
  line-height: 2rem;

  h1 a {
    color: var(--font-color);
  }

  label::after {
    content: ":";
    content: ":" / "";
  }

  form p.error {
    color: red;
    margin: 0;
    padding: 0;
  }

  time::after {
    content: ":";
    content: ":" / "";
  }

  ul.results {
    summary {
      font-size: 1.2em;
      margin-block-end: calc(var(--grid) / 2);
    }

    li::before {
      content: none;
    }

    > li {
      margin-block-start: var(--grid);
      margin-block-end: 0;
    }
  }

  ul.detail {
    margin-inline-start: calc(var(--grid) * 3);

    li {
      list-style: circle;
    }
  }

  .detail a.highlight {
    background-color: #ff07;
  }

  @media screen and (max-device-width: 800px) {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 0.2rem;
    word-wrap: break-word;

    ul.detail {
      margin-inline-start: calc(var(--grid) * 2);

      li {
        margin-block-start: calc(var(--grid) / 2);
        margin-block-end: calc(var(--grid) / 2);
        margin-inline-start: 0;
        margin-inline-end: 0;
      }
    }
  }
}
