.search {
  font-size: 1.2rem;
  line-height: 2rem;
}

.search h1 a {
  color: var(--font-color);
}

.search label::after {
  content: ":";
}

.search form p.error {
  color: red;
  margin: 0;
  padding: 0;
}

.search time::after {
  content: ":";
}

.search ul.results summary {
  font-size: 1.2em;
  margin-bottom: calc(var(--grid)/2);
}

.search ul.results li:before {
  content: none;
}

.search ul.results > li {
  margin: var(--grid) 0;
}

.search ul.detail {
  margin-left: calc(var(--grid)*3);
}

.search ul.detail li {
  list-style: circle;
}

.search .detail a.highlight {
  background-color: #ff07;
}

@media screen and (max-device-width: 800px) {
  .search {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 0.2rem;
    word-wrap: break-word;
  }
  .search ul.detail li {
    margin: calc(var(--grid)/2) 0;
  }
  .search ul.detail {
    margin-left: var(--grid);
  }
}
