table {
  font-family: monospace;
  margin: 2em 0;
  border-spacing: 0 0.4em;
}

th {
  padding: 0em 1.0em 0.6em;
  border-left: 0.14em solid #222;
  border-bottom: 2px dashed #222;
}

td {
  padding: 0.4em 1.2em;
  border-left: 0.14em solid #222;
}

th:last-child, td:last-child {
  border-right: 0.14em solid #222;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}
