/* [表: N] のカウンター */
article {
  counter-reset: table;
}

figure {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  font-family: var(--mono-font);

  figcaption {
    margin-inline-start: 0.5em;
    margin-block-end: 0.5em;
    font-style: italic;

    &::before {
      counter-increment: table;
      content: "[表:" counter(table) " ";
    }

    &::after {
      content: "]";
    }
  }

  table {
    margin: 0 auto;
    text-align: left;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;

    /** table の align */
    .align-left {
      text-align: left;
    }

    .align-right {
      text-align: right;
    }

    .align-center {
      text-align: center;
    }

    /* Mobile では wrap させて余白調整 */
    @media screen and (max-device-width: 960px) {
      overflow-x: scroll;
      white-space: nowrap;

      th,
      td {
        padding-inline-end: calc(var(--table-padding) * 2);
      }
    }

    /* Alternative Text not Supported */
    font-family: var(--mono-font);
    margin: var(--grid) 0;
    border-spacing: 0 0.4rem;

    th {
      padding: 0 var(--grid) calc(var(--grid) / 2) var(--grid);
      border-left: 2px solid var(--table-border);
      border-bottom: 2px dashed var(--table-border);
    }

    td {
      padding: calc(var(--grid) / 2) var(--grid);
      border-left: 2px solid var(--table-border);
    }

    th:last-child,
    td:last-child {
      border-right: 2px solid var(--table-border);
    }

    @supports (content: "a" / "b") {
      th,
      td,
      th:last-child,
      td:last-child {
        padding: unset;
        border: none;
        padding-inline-end: var(--table-padding);
      }

      /** 左右の罫線 */
      th::before,
      td::before {
        content: "|" / "";
        font-weight: normal;
        margin-inline-end: var(--table-padding);
        float: left;
      }

      th,
      td {
        padding-inline-end: var(--table-padding);
        clear: left;
      }

      tr::after {
        content: "|" / "";
        font-weight: normal;
      }

      /** tbody の最初の行だけ左右の罫線を 2 本にする */
      th::before,
      thead tr:last-child::after {
        content: "|\A|" / "";
        white-space: pre;
      }

      /** thead と tbody の間の仕切り */
      th {
        position: relative;

        /** 中央は : をつけない */
        /** TODO: 線が途切れるのと :--: は text-overflow が string に対応したらできそう(firefox のみ) */
        &::after {
          content: "------------------------------------------------------------------" /
            "";
          white-space: nowrap;
          overflow: hidden;
          text-overflow: clip;
          position: absolute;
          letter-spacing: 0.1em;
          font-weight: normal;
          top: 100%;
          transform: translateY(-100%);
          left: calc(var(--table-separator-width) + var(--table-padding));
          right: var(--table-separator-width);
        }

        /** 左は : を頭に */
        &.align-left::after {
          content: ":-----------------------------------------------------------------" /
            "";
        }

        /** 右は RTL で */
        &.align-right::after {
          content: ":-----------------------------------------------------------------" /
            "";
          direction: rtl;
        }
      }
    }
  }
}
