table {
  font-family: var(--mono-font);
  margin: var(--grid) 0;
  border-spacing: 0 0.4rem;
}

th {
  padding: 0 var(--grid) calc(var(--grid)/2) var(--grid);
  border-left: 2px solid var(--table-border);
  border-bottom: 2px dashed var(--table-border);
}

td {
  padding: calc(var(--grid)/2) var(--grid);
  border-left: 2px solid var(--table-border);
}

th:last-child,
td:last-child {
  border-right: 2px solid var(--table-border);
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}
