/** table の align */
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

table {
  font-family: var(--mono-font);
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

/** 左右の罫線 */
th::before,
td::before {
  content: "|";
  font-weight: normal;
  margin-right: var(--table-padding);
  float: left;
}

th,
td {
  padding-right: var(--table-padding);
  clear: left;
}

tr::after {
  content: "|";
  font-weight: normal;
}

/** tbody の最初の行だけ左右の罫線を 2 本にする */
th::before,
thead tr:last-child::after {
  content: "|\A|";
  white-space: pre;
}

/** thead と tbody の間の仕切り */
th {
  position: relative;
}

/** 中央は : をつけない */
th::after {
  content: "------------------------------------------------------------------";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  position: absolute;
  letter-spacing: 0.1em;
  font-weight: normal;
  top: 100%;
  transform: translateY(-100%);
  left: calc(var(--table-separator-width) + var(--table-padding));
  right: var(--table-separator-width);
}

/** 左は : を頭に */
th.align-left::after {
  content: ":-----------------------------------------------------------------";
}

/** 右は RTL で */
th.align-right::after {
  content: ":-----------------------------------------------------------------";
  direction: rtl;
}
