[Unit]
Description=jxck.io
After=network.target nss-lookup.target

[Service]
Type=forking
Restart=always
PIDFile=/home/jxck/server/jxck.io/.pid/h2o.pid
WorkingDirectory=/home/jxck/server/jxck.io
ExecStartPre=/home/jxck/dotfiles/local/h2o/bin/h2o -c h2o.conf -t
ExecStart=/home/jxck/dotfiles/local/h2o/bin/h2o -c h2o.conf -m daemon
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
