[Unit]
Description=note.jxck.io
After=network.target nss-lookup.target

[Service]
Type=simple
Restart=always
Environment="PATH=/home/jxck/dotfiles/pkg/nodebrew/current/bin:$PATH"
WorkingDirectory=/home/jxck/server/jxck.io/note.jxck.io
ExecStart=/home/jxck/server/jxck.io/note.jxck.io/node_modules/.bin/next start --port=13000
User=jxck
Group=jxck

[Install]
WantedBy=default.target
