# [Unit]
# Description=report-uri.jxck.io
# After=network.target nss-lookup.target
# 
# [Service]
# Type=simple
# Restart=always
# Environment=PORT=8000 SERVER=/home/jxck/server
# WorkingDirectory=/home/jxck/server/jxck.io/report-uri.jxck.io
# ExecStart=/home/jxck/dotfiles/pkg/rbenv/shims/ruby report.rb
# 
# [Install]
# WantedBy=multi-user.target
