[Unit]
Description=ws.jxck.io
After=network.target nss-lookup.target

[Service]
Type=simple
Restart=always
Environment=NODE_ENV=production PORT=6000 SERVER=/home/jxck/server
WorkingDirectory=/home/jxck/server/jxck.io/ws.jxck.io
ExecStart=/home/jxck/dotfiles/pkg/nodebrew/current/bin/node server.js

[Install]
WantedBy=multi-user.target
