[Unit]
Description=zenn.jxck.io
After=network.target nss-lookup.target

[Service]
Type=simple
Restart=always
Environment="PATH=/home/jxck/dotfiles/pkg/nodebrew/current/bin:$PATH"
WorkingDirectory=/home/jxck/server/web-anatomia
ExecStart=/home/jxck/server/web-anatomia/node_modules/.bin/zenn preview --port 12000

[Install]
WantedBy=default.target
