<!doctype html>
<html>
  <head>
    <title><%= page.title %></title>
    <style>
:root {

  /** font-weight **/
  --thin:    100;
  /*--light:   300;*/
  --regular: 400;
  /*--medium:  500;*/
  --bold:    700;


  /** font-color **/
  --black:  rgb(0, 0, 0);
  --dark:   rgb(50, 50, 50);
  --gray:   rgb(100, 100, 100);
  --silver: rgb(150, 150, 150);


  /** background **/
  --bg-light: rgb(230, 230, 230);
  --bg-white: rgb(255, 255, 255);
}

body.dark pre {
  background-color: var(--bg-light);
}
body.white pre {
  background-color: var(--bg-white);
}


pre {
  font-family: 'Roboto Mono', monospace;
  padding:     1em;
  border:      1px solid black;

  /* base */
  font-weight: var(--thin);
  color:       var(--silver);
}

/* bold-gray */
.BoldGray,
.Name {
  color:       var(--gray);
  font-weight: var(--bold);
}

/* bold-black */
.BoldBlack,
.Keyword,
.Label,
.Tag {
  color:       var(--black);
  font-weight: var(--bold);
}

/* regular-dark */
.RegularDark,
.Number,
.Operator {
  color:       var(--dark);
  font-weight: var(--regular);
}

/* regular silver italic */
.RegularSilverItalic,
.Comment,
.String {
  font-style:  italic;
  color:       var(--silver);
  font-weight: var(--regular);
}
    </style>
  </head>
  <body>
    <%= page.article %>
  </body>
</html>
