<link rel=stylesheet property=stylesheet type=text/css href=<%= version("https://www.jxck.io/assets/css/footer.css") %>>
<footer>
  <p class=copyright><small>Copyright &copy; 2016 <a href=https://jxck.io>Jxck</a>. All Rights Reserved.</small> See <small><a href=https://jxck.io/policies/site.html>Site Policy</a> and <a href=https://jxck.io/policies/privacy.html>Privacy Policy</a>.</small></p>
</footer>
