section {
  border: solid 8px #ccc;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 300px;
}
img {
  border-radius: 50%;
}
a {
  text-decoration: none;
  color: #333;
  font-size: 2em;
  font-family: sans-serif;
}
