body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Helvetica', serif;
  color: #222;
  background-color: #fefefe;
}

header {
  box-sizing: border-box;
  background-color: #222;
  margin: 0;
  padding: 0.4em;
}

header a.logo {
  display: block;
  padding: 0.4em;
  color: gray;
}

header a.logo:hover {
  color: white;
}

article {
  width: 80%;
  margin: 1em auto;
}

.archive {
  width: 80%;
  margin: 1em auto;
  font-size: 1.2em;
  line-height: 2em;
}

.archive ul {
  margin: 0;
}

time {
  padding-right: 0.5em;
}

time::after {
  content: ":";
}

.tags {
  font-size: 0.8em;
}

.tags a {
  margin-left: 0.2em;
  padding: 0.2em 0.4em;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ddd;
  text-decoration: none;
}

footer {
  padding: 1em;
}

img {
  max-width: 50%;
  display: block;
  margin: 1em 0;
  border: solid 1px #ccc;
}

@media only screen and (max-device-width : 480px) {
  img {
    max-width:100%;
  }
}


a {
  word-wrap: break-word;
  text-decoration: none;
}

pre {
  overflow: scroll;
}


h1::before {
  content: "# ";
}

h2::before {
  content: "## ";
}

h3::before {
  content: "### ";
}

h4::before {
  content: "#### ";
}

h5::before {
  content: "##### ";
}

h6::before {
  content: "###### ";
}

i::before, i::after {
  content: "*";
}

strong::before, strong::after {
  content: "**";
}

ol, ul {
  list-style: none;
  padding-left: 0;
}

ul li::before {
  content: "- ";
}

ol {
  counter-reset: list;
}

ol li::before {
  counter-increment: list;
  content: counter(list) ". ";
}

table {
  margin: 2em 0;
  border-spacing: 0 0.4em;
}

th {
  padding: 0em 1.2em 0.8em;
  border-left: 0.14em solid #222;
  border-bottom: 2px dashed #222;
}

td {
  padding: 0.4em 1em;
  border-left: 0.14em solid #222;
}

th:last-child, td:last-child {
  border-right: 0.14em solid #222;
}

ul, ol, dl {
  margin: 2em 0;
}

dl dt {
  font-weight: bold;
}

dl dt::after {
  content: ":";
}

dl dd {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

a {
  color: RoyalBlue;
}

a:visited {
  color: Brown;
}


blockquote {
  display: block;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 1em;
  margin: 2em 0;
}

blockquote::before {
  content: "> ";
}

code {
  border: 1px solid #ddd;
  background-color: #efefef;
  border-radius: 4px;
  padding: 0.1em;
  margin: 2em 0;
}

code::before, code::after {
  content: "`";
}

pre > code {
  border: none;
  background-color: inherit;
}

pre > code::before,
pre > code::after {
  content: none;
}

pre {
  font-size: 1.2em;
  margin: 2em 0;
  padding: 0.6em;
  border-radius: 4px;
  background-color: #efefef;
}

pre::before {
  content: "```" attr(lang) "\A";
}

pre::after {
  content:"\A```";
}

.hljs-keyword {
  color: #a71d5d;
}

.hljs-title {
  color: #795da3;
}

.hljs-string {
  color: #183691;
}

.hljs-number {
  color: #0086b3;
}

.hljs-built_in {
  color: #0086b3;
}

.hljs-literal {
  color: #0086b3;
}

.hljs-regexp {
  color: #183691;
}

.hljs-comment {
  color: #4f80e5;
}

.hljs-tag {
  color: #a71d5d;
}

.hljs-name {
  color: #222;
}

.hljs-strong {
  font-weight: bold;
}

.hljs,
.hljs-subst ,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name ,
.hljs-bullet,
.hljs-code,
.hljs-addition ,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-type,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion,
.hljs-section,
.hljs-meta,
.hljs-meta-string,
.hljs-emphasis {
}
